<%unless current_user == @user%>
	<div id="block_form">
		<%#byebug%>
		<%if !current_user.blocking?(@user) && current_user.following?(@user)%>
		<%=render 'users/block_update', block: 1%>
		<%elsif !current_user.blocking?(@user) && !current_user.following?(@user)%>
		<%=render 'users/block_create', block: 2%>
		<%elsif current_user.blocking?(@user) && !current_user.blocked?(@user)%>
		<%=render 'users/unblock', block: 0%>
		<%elsif current_user.blocking?(@user) && current_user.blocked?(@user)%>
		<%=render 'users/remove_relation', block: 3%>

<%end%>
	</div>
<%end%> 

