<%unless current_user == @user%>
	<div id="follow_form">
		<%if current_user.following?(@user) && current_user.block?(@user)%>
		<%=render 'users/unfollow_update', block: 2%>
		<%elsif current_user.following?(@user) && !current_user.blocked?(@user)%>
		<%=render 'users/unfollow'%>
	
		<%else%>
		<%=render 'users/follow', block: 0%>
<%end%>
	</div>
<%end%> 

