
<% followed_user = current_user.active_relationships.find_by(followed_id: @user)%>
<%=form_tag relationship_path(followed_user, block: block), remote: true, method: :put do %>
<div><%=hidden_field_tag :followed_id, @user.id%></div>
	<%=submit_tag "Unfollow", class: "btn"%>
<%end%>