 <div class="col-md-8">

    <% if @users.any? %>
      <ul class="users follow">
      	    <h3><%= @title %>(<%=@users.count%>)</h3>
        <%= render @users %>
        <%= will_paginate %>
      </ul>
      
    <% end %>
  </div> 

  