 <div class="col-md-8">
    <h3><%= @title %>(<%=@users.count%>)</h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div> 

  