<%provide(:title, "Users")%>
<br><br>


<div class="row">
<aside class="col-md-4">
<div class="search">	
		<h1>Users</h1><br>
<section>

<%=render 'shared/search_form'%>
</section>
</div>
</aside>
<section class="search_result">
<div class="col-md-8">
<ol class="users">
<%= will_paginate %>

  <% @users.each do |user| %>
     <%=render user%>
  <% end %>

<%= will_paginate %>
</ol>
</div>
</section>
</div>