<html>
<%provide(:title, "Index")%>

<%if logged_in?%>
<div class="row">
	<aside class="col-md-4">
		<section class="post_form">
			<%=render 'shared/fol_count'%> 
			<%=render 'shared/post_form'%>
		</section>
	</aside>
<h1>Posts Feed</h1>
<div class="col-md-8">
	<ol class = "posts">
		<%=render 'shared/post_feed'%>
	</ol>
</div>
</div>

<%else%>
<body>
<div class="center jumbotron">
<h1>Welcome</h1>
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary"%>
</div>
</body>
<%end%>
<br><br>


</html>