@import "bootstrap";
@import "bootstrap-sprockets";


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}


#fol, #blok{
  display: inline;
}

textarea {
  resize: vertical;
}
.post_time{
  color: gray;
}

.post_content, .post_time{
  display: inline;
}

.like, #upcount{
  display: inline;
}

.unlike, #downcount{
  display: inline;
}



.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.bday{
  padding-top: 20px;  
}

#logo{
	float: left;
	font-weight: bold;
	font-size: 1.7em;
	margin-left: 10px;
	color: #fff;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.row{
	margin-top: 20px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
@include box_sizing;
}

input {
  height: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}