@import "bootstrap";
@import "bootstrap-sprockets";

.center{
	
	text-align: center
}

#logo{
	float: left;
	font-weight: bold;
	font-size: 1.7em;
	margin-left: 10px;
	color: #fff;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.row{
	margin-top: 20px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
@include box_sizing;
}

input {
  height: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}